<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User not approved</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript">
			var domain_root = "{{ request.scheme }}://{{ request.META.HTTP_HOST}}";
			var url = domain_root + '/frontend/';
            console.log(url);
            $(document).ready(function () {
                $('.frontend_redirect').attr('href', url)
            })
    </script>
</head>
<body>
<p>Your account has not yet approved by the admin</p>
<p>Click <a class="frontend_redirect" href="">here</a> to go back to Frontend page</p>
</body>
</html>