@import url('https://fonts.googleapis.com/css?family=Roboto');

.LogoUnifi{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1%;
    top: 1%;
}

.brand-logo{
  top: 4%;
  left: 1%;
}

body{
  background: ghostwhite;
  font-family: Roboto;
}

.NavbarSito{
  background-color: lightblue;
}

#awesomplete-search{
background-color: rgb(248, 248, 255);
border: 1px;
border-bottom: 1px solid rgba(0,0,0,0.87);
border-radius: 5px;
text-indent: 2px;
padding: 0px 0px 0px 50px;
  width: 350px;
}

#nav-mobile {padding-left: 16%;}

#search{
position: absolute;
top: 16%;
left: 10%;
width: 30%;
background-color: rgb(248, 248, 255);
border: 1px;
border-bottom: 1px solid rgba(0,0,0,0.87);
border-radius: 5px;
text-indent: 10px;
padding: 0px 0px 0px 50px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #999999;
    text-indent: 10px;
}

.material-icons.md-36 {
  font-size: 36px;
  position: absolute;
  top: 3%;
  margin-left: 2px;
  color: black;
}

.browser-default{
  position: absolute;
  left: 50%;
  top: 16%;
  width: 15%;
  border-bottom: 1px solid rgba(0,0,0,0.87);
  background-color: rgb(248, 248, 255);
}

.others{
  color: black;
}

.DefaultChoose{
  color: #999999;
}

#scroller-wrapper{
  background-color: lightblue;
  position: absolute;
  bottom: 19%;
  height: 300px;
  width: 99%;
  left: 0.5%;
  overflow-x: scroll;
  border: 2px solid #005077;
  border-radius: 5px;
  box-shadow: 2px 2px #053248;

}

#scroller{
  position: absolute;
  height: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.elem{
  height: 152px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: auto;
  display: inline-block;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.elem:last-child{
  padding-right: 10px;
}

#effects{
  top:0px;
  left: 0px;
  width: 65px;
  height: 40px;
  font-size: 10px;
  border: 1px solid rgba(0,0,0,0.87);
  background-color: #005077;
  color: white;
  position: relative;
  display: inline;
}

#boxed{
  border: 2px solid #005077;
  border-radius: 15px;
  width: 266px;
  height: 100%;
}

#boxed video{
  border-radius: 13px;
}

/*DA MODIFICARE PER TORNARE VECCHIA CONFIGURZIONE*/
.btn {
  position: absolute;
  right: 0px;
  top: 86%;
  background-color: #005077;
  border: none;
  color: white;
  cursor: pointer;
  border: 2px solid #005077;
  border-radius: 5px;
  box-shadow: 2px 2px #053248;
}
.btn:hover{
  background-color: RoyalBlue;
}

.btn:focus{
  background-color: #005077;
}

.btn:active{
  background-color: #005077;
  transform: translateY(2px);
}

#search-wrapper{
  background-color: lightblue;
  position: absolute;
  top: 12%;
  height: 200px;
  width: 99%;
  left: 0.5%;
  overflow-x: scroll;
  border: 2px solid #005077;
  border-radius: 5px;
  box-shadow: 2px 2px #053248;
}

#search-scroller{
  position: absolute;
  height: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.search-elem{
  height: 150px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: auto;
  display: inline-block;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.search-elem:last-child{
  padding-right: 10px;
}

input[type="file"] {
  display: none;
}

#annotator {
  top: 10px;
  left: 72.5%;
  height: 42px;
  width: 150px;
}

#loading-exp{
  position: absolute;
  top: 50.5%;
  left: 190px;
  height: 30px;
  width: 30px;
}

#upload {
  top: 10px;
  left: 86%;
  height: 42px;
  width: 170px;
}

#download {
  left: 61%;
  height: 70px;
  width: 230px;
}

#export {
  left: 25%;
  height: 70px;
  width: 230px;
}

@keyframes blink {

    0% {
      opacity: .2;
    }

    20% {
      opacity: 1;
    }

    100% {
      opacity: .2;
    }
}

.dots span {

    animation-name: blink;

    animation-duration: 1.4s;

    animation-iteration-count: infinite;

    animation-fill-mode: both;
}

.dots span:nth-child(2) {

    animation-delay: .2s;
}

.dots span:nth-child(3) {

    animation-delay: .4s;
}

/*#dLabel {
    top: 10px;
    height: 43px;
    width: 200px;
    left:54%;
    position: absolute;
    align-items: center;
}*/

/*DROPDOWN*/

.itemspace {
  text-align: center;
  display: block;
  margin-top: 20px;
  line-height: 20px;
}

.pzdropdown {
  display: none;
  top: 10px;
  height: 43px;
  width: 150px;
  left:48.5%;
  position: absolute;
}

.pzdropdown-content {
  text-align: center;
  color: black;
  top:30px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 16px;
  z-index: 1;
}

.pzdropdown:hover .pzdropdown-content{
  display: block;
}

/*class to fix materialize influnce*/

#pzcheckbox {
  opacity: 100;
  position: relative;

}

.pzselect {
  border-color: black;
  position: relative;
  display: block;
  height: 30px;
  width: 100px;
  color: black;
  left: 17%;
}

#pzp {
  line-height: 0px;
}

