<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload video</title>
     <link rel="stylesheet" type="text/css" href="{% static 'frontend/uploadstyle.css' %}">
</head>
<body>
    <div id="uploadbox">
        <h2>Upload a new video to cultmedia</h2>
        <form method="post" enctype="multipart/form-data">
            {%  csrf_token %}
            <input id="file" type="file" name="document" accept=".mp4,.webm" /><br>
            <br/>
            Description:<br>
            <input type="text" name="description"><br>
            <br/>
            Keywords(separated by coma):<br>
            <input type="text" name="keywords"><br>
            <br/>
            Duration:<br>
            <input type="text" name="duration"><br>
            <br/>
            <button id="uploadbutton" type="submit">Upload file </button>
        </form>
        {% if url %}
        <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
    {% endif %}
    </div>
</body>
</html>